body {
  background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
}
h1.city {
  font-family: "Permanent Marker", cursive;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
}
h3 {
  text-align: center;
  margin: 0 auto;
}
p,
h2,
h3,
h4,
h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  font-size: 18px;
  margin: 0px;
}
footer {
  margin: 0px auto 15px;
}
.search {
  display: block;
  margin: 15px auto 10px;
  width: 600px;
}
.search-bar {
  opacity: 75%;
  text-indent: 15px;
  width: 449px;
}
.myLocation-button {
  padding: 2px 15px;
  border: 1px solid;
  border-radius: 3px;
  border-color: rgb(118, 118, 118);
}
.myLocation-button:hover {
  background-color: #e5e5e5;
}
.search-button {
  padding: 1px 35px;
}
.container {
  display: block;
  margin: 0px auto 100px;
}
div.card {
  border-radius: 20px;
  margin: 0 auto;
  opacity: 95%;
  width: 600px;
}
.greeting {
  font-size: 20px;
  margin: 0px auto;
  padding: 25px 0px 0px;
}
.date {
  font-size: 20px;
  margin: 0px auto;
  padding: 5px 0px 25px;
}
.celcius:hover,
.farenheit:hover {
  font-weight: bold;
  cursor: pointer;
}
.high-low {
  margin-top: 10px;
}
.today-icon {
  left: 30px;
  position: relative;
  text-align: center;
  bottom: 20px;
}
.today-icon-title {
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  bottom: 35px;
}
.currently {
  margin: 0px;
}

.update-time {
  font-style: italic;
  margin: 0px 10px 5px;
  text-align: right;
}
.week {
  text-align: center;
}
.forcast-days {
  position: relative;
  left: 50px;
}
.forcast-icon {
  position: relative;
  right: 10px;
}
.repository {
  text-align: center;
}
